---
export default interface Props {
  title: string;
  aHref: string;
  aText: string;
  liText: string;
}

const { title, aText, liText } = Astro.props;
---

<div class="container decoration_wrap">
  <h1 class="page_title">{title}</h1>
  <ul class="breadcrumb_nav unordered_list_center">
    <li class="inicio"><a data-astro-reload>{aText}</a></li>
    <li class="page">{liText}</li>
  </ul>
  <div class="deco_item shape_1">
    <img
      src="/assets/images/shapes/shape_circle_1.svg"
      data-parallax='{"y" : -140, "smoothness": 10}'
    />
  </div>
  <div class="deco_item shape_2"> 
    <img
      src="/assets/images/shapes/shape_circle_half_1.svg"
      data-parallax='{"y" : 200, "smoothness": 10}'
    />
  </div>
  <div class="deco_item shape_3">
    <img
      src="/assets/images/shapes/shape_1.svg"
      data-parallax='{"x" : -200, "smoothness": 10}'
    />
  </div>
</div>
