---
import { languages } from "../../i18n/ui";
import {
  getRouteFromUrl,
  useTranslatedPath,
  getLangFromUrl,
} from "../../i18n/utils";
const route = getRouteFromUrl(Astro.url);
const lang = getLangFromUrl(Astro.url);
const translatePath = useTranslatedPath(lang);
---
<!--
<ul>
  {
    Object.entries(languages).map(([lang, label]) => (
      <li class="lenguage">
        <a href={(lang==="en")?"en":"" + (route? "/"+route : "")} data-astro-reload>
          {label}
        </a>
      </li>
    ))
  }
</ul>
 -->
 <div class="select_option m-0">
  <div class="icon_wrap">
    <img src="assets/images/icons/icon_globe.svg" alt="Globe Icon">
  </div>
  <select>
    <option value="english" selected>Español</option>
    <option value="Español">Ingles</option>
  </select>
</div>

