---
import Member from './Member.astro';
---

<div class="container">
  <div class="section_heading text-center">
    <h2 class="heading_subtitle text-uppercase">
      <span class="double_icon">
        <i class="fas fa-sharp fa-square-full"></i>
        <i class="fas fa-sharp fa-square-full"></i>
      </span>
      <span>Nuestro equipo</span>
    </h2>
    <h3 class="heading_title mb-0">Nuestros miembros del equipo</h3>
  </div>

  <div class="row justify-content-center">
    <!--TODOO -->
    <!-- Poner imagenes de los integrantes -->
    <Member
      name="Mateo Cerquetella"
      designation="CEO & Software Architect"
      image=""  
      linkedin="https://www.linkedin.com/in/mateocerquetella/"
    />
    <Member
      name="Fernando Schlottman"
      designation="Sr. Software Developer"
      image=""
      linkedin="https://www.linkedin.com/"
    />
    <Member
      name="Federico Rosales"
      designation="Jr. Software Developer"
      image=""
      linkedin="https://www.linkedin.com/"
    />
    <Member
      name="Matias Gomez"
      designation="Jr. Software Developer"
      image=""
      linkedin="https://www.linkedin.com/"
    />

    <div class="btn_wrap pb-0 text-center">
      <a href="#" class="bd-btn-link btn_primary">
        <span class="bd-button-content-wrapper">
          <span class="bd-button-icon">
            <i class="fa-light fa-arrow-right-long"></i>
          </span>
          <span class="pd-animation-flip">
            <span class="bd-btn-anim-wrapp">
              <span class="bd-button-text">Únete a nuestro equipo</span>
              <span class="bd-button-text">Únete a nuestro equipo</span>
            </span>
          </span>
        </span>
      </a>
    </div>
  </div>
</div>
