<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <div class="contact_form_boxed bg_primary decoration_wrap">
        <div class="contact_form p-4 bg-transparent rounded-0">
          <div class="section_heading text-white text-center mb-4">
            <h2 class="heading_subtitle text-uppercase">
              <span class="double_icon">
                <i class="fas fa-sharp fa-square-full"></i>
                <i class="fas fa-sharp fa-square-full"></i>
              </span>
              <span>Contactanos</span>
            </h2>
            <h3 class="heading_title">Ponete en contacto</h3>
          </div>
          <form action="#" method="post">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <input
                    class="form-control"
                    type="text"
                    name="firstname"
                    placeholder="Nombre"
                  />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <input
                    class="form-control"
                    type="text"
                    name="lastname"
                    placeholder="apellido"
                  />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <input
                    class="form-control"
                    type="email"
                    name="email"
                    placeholder="Email Address"
                    autocomplete="email"
                  />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group select">
                  <select
                    class="form-control"
                    id="subjectSelect"
                    name="subject"
                  >
                    <option value="" selected disabled>Select Subject</option>
                    <option value="website-development"
                      >Website Development</option
                    >
                    <option value="design">UX/UI Design</option>
                    <option value="app-development">App Development</option>
                    <option value="editing">Video Editing</option>
                    <option value="programming">Programming & Tech</option>
                    <option value="business">Business Consulting</option>
                  </select>
                </div>
              </div>
              <div class="col-12">
                <div class="form-group">
                  <textarea
                    class="form-control"
                    name="message"
                    placeholder="Write your Message"></textarea>
                </div>
              </div>
              <div class="col-12 text-center">     
                 <button type="submit" class="bd-btn-link btn_warning">
                  <span class="bd-button-content-wrapper">
                    <span class="bd-button-icon">
                     <i class="fa-light fa-arrow-right-long"></i>
                    </span>
                    <span class="pd-animation-flip">
                       <span class="bd-btn-anim-wrapp">
                          <span class="bd-button-text">Send Now</span>
                          <span class="bd-button-text">Send Now</span>
                       </span>
                    </span>
                  </span>
                </button>
              </div>
            </div>
          </form>
        </div>
        <div class="deco_item shape_1">
          <img
            src="assets/images/shapes/shape_comment.png"
            class="img-fluid"
            alt="Shape 1"
          />
        </div>
        <div class="deco_item shape_2">
          <img
            src="assets/images/shapes/shape_man_1.png"
            class="img-fluid"
            alt="Shape 2"
          />
        </div>
      </div>
    </div>
  </div>
</div>
<style>
   .select::after {
      content: '\f078'; 
      font-family: 'Font Awesome 5 Pro'; 
      font-weight: 900;
      font-size: 12px;
      position: absolute;
      top: calc(50% - 7px); 
      right: 10px;
      pointer-events: none;
    }
  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(50px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes moveY {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(50px);
    }
    100% {
      transform: translateY(0);
    }
  }

  .shape_1 {
    animation: fadeInUp 1s ease-in-out forwards;
  }

  .shape_2 {
    animation:
      fadeInUp 1s ease-in-out forwards 0.1s,
      moveY 2s ease-in-out infinite;
  }
</style>
<!-----
<section class="contact_form_section">
          <div class="container">
            <div class="contact_form_boxed bg_primary decoration_wrap">
              <div class="contact_form p-0 bg-transparent rounded-0">
                <div class="section_heading text-white">
                  <h2 class="heading_subtitle text-uppercase">
                    <span class="double_icon">
                      <i class="fas fa-sharp fa-square-full"></i>
                      <i class="fas fa-sharp fa-square-full"></i>
                    </span>
                    <span>Contact Us</span>
                  </h2>
                  <h3 class="heading_title mb-0">
                    Get In Touch
                  </h3>
                </div>
                <form action="#">
                  <div class="row">
                    <div class="col col-md-6">
                      <div class="form-group m-0">
                        <input class="form-control" type="text" name="firstname" placeholder="First Name">
                      </div>
                    </div>
                    <div class="col col-md-6">
                      <div class="form-group m-0">
                        <input class="form-control" type="text" name="lastname" placeholder="Last Name">
                      </div>
                    </div>
                    <div class="col col-md-6">
                      <div class="form-group m-0">
                        <input class="form-control" type="email" name="email" placeholder="Email Address">
                      </div>
                    </div>
                    <div class="col col-md-6">
                      <div class="select_option m-0">
                        <select style="display: none;">
                          <option data-display="Subject">Select Subject</option>
                          <option value="development">Website Development</option>
                          <option value="design">UX/UI Design</option>
                          <option value="development">App Development</option>
                          <option value="editing">Video Editing</option>
                          <option value="programming">Programming &amp; Tech</option>
                          <option value="business">Business Consuting</option>
                        </select><div class="nice-select"><span class="current">Website Development</span><ul class="list"><li data-value="Select Subject" data-display="Subject" class="option">Select Subject</li><li data-value="development" class="option selected focus">Website Development</li><li data-value="design" class="option">UX/UI Design</li><li data-value="development" class="option">App Development</li><li data-value="editing" class="option">Video Editing</li><li data-value="programming" class="option">Programming &amp; Tech</li><li data-value="business" class="option">Business Consuting</li></ul></div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="form-group">
                        <textarea class="form-control" name="message" placeholder="Write your Message"></textarea>
                      </div>

                      <button type="submit" class="bd-btn-link btn_warning">
                        <span class="bd-button-content-wrapper">
                          <span class="bd-button-icon">
                           <i class="fa-light fa-arrow-right-long"></i>
                          </span>
                          <span class="pd-animation-flip">
                             <span class="bd-btn-anim-wrapp">
                                <span class="bd-button-text">Send Now</span>
                                <span class="bd-button-text">Send Now</span>
                             </span>
                          </span>
                        </span>
                      </button>

                    </div>
                  </div>
                </form>
              </div>
              <div class="deco_item shape_1 wow fadeInUp" data-wow-delay=".1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
                <img src="assets/images/shapes/shape_comment.png" data-parallax="{&quot;y&quot; : -140, &quot;smoothness&quot;: 10}" alt="Paradox Illustration" style="transform:translate3d(0px, 0px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1); -webkit-transform:translate3d(0px, 0px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1); ">
              </div>
              <div class="deco_item shape_2 wow fadeInUp" data-wow-delay=".1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
                <img src="assets/images/shapes/shape_man_1.png" data-parallax="{&quot;y&quot; : 140, &quot;smoothness&quot;: 10}" alt="Paradox Illustration" style="transform:translate3d(0px, 102.456px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1); -webkit-transform:translate3d(0px, 102.456px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1); ">
              </div>
            </div>
          </div>
        </section>
--- -->