<section class="contact-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="contact_form_boxed bg_primary decoration_wrap">
          <div class="contact_form p-4 bg-transparent rounded-0">
            <div class="section_heading text-white text-center mb-4">
              <h2 class="heading_subtitle text-uppercase">
                <span class="double_icon">
                  <i class="fas fa-sharp fa-square-full"></i>
                  <i class="fas fa-sharp fa-square-full"></i>
                </span>
                <span>Contact Us</span>
              </h2>
              <h3 class="heading_title">Get In Touch</h3>
            </div>
            <form action="#" method="post">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <input class="form-control" type="text" name="firstname" placeholder="First Name">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <input class="form-control" type="text" name="lastname" placeholder="Last Name">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <input class="form-control" type="email" name="email" placeholder="Email Address" autocomplete="email">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <select class="form-control" id="subjectSelect" name="subject">
                      <option value="" selected disabled>Select Subject</option>
                      <option value="website-development">Website Development</option>
                      <option value="design">UX/UI Design</option>
                      <option value="app-development">App Development</option>
                      <option value="editing">Video Editing</option>
                      <option value="programming">Programming & Tech</option>
                      <option value="business">Business Consulting</option>
                    </select>
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-group">
                    <textarea class="form-control" name="message" placeholder="Write your Message"></textarea>
                  </div>
                </div>
                <div class="col-12 text-center">
                  <button type="submit" class="btn btn-warning">
                    <i class="fa-light fa-arrow-right-long"></i> Send Now
                  </button>
                </div>
              </div>
            </form>
          </div>
          <!--Todoo animation bot/top -->
          <div class="deco_item shape_1">
            <img src="assets/images/shapes/shape_comment.png" class="img-fluid" alt="Shape 1">
          </div>
          <div class="deco_item shape_2">
            <img src="assets/images/shapes/shape_man_1.png" class="img-fluid" alt="Shape 2">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- 
          <div class="deco_item shape_1 wow fadeInUp" data-wow-delay=".1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
            <img src="assets/images/shapes/shape_comment.png" data-parallax="{&quot;y&quot; : -140, &quot;smoothness&quot;: 10}" alt="Paradox Illustration" style="transform:translate3d(0px, 0px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1); -webkit-transform:translate3d(0px, 0px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1); ">
          </div>
          <div class="deco_item shape_2 wow fadeInUp" data-wow-delay=".1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
            <img src="assets/images/shapes/shape_man_1.png" data-parallax="{&quot;y&quot; : 140, &quot;smoothness&quot;: 10}" alt="Paradox Illustration" style="transform:translate3d(0px, 66.288px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1); -webkit-transform:translate3d(0px, 66.288px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1); ">
          </div>
        
        -->
