
    <div class="container">
      <div class="contact_form_boxed bg_primary decoration_wrap">
        <div class="contact_form p-0 bg-transparent rounded-0">
          <div class="section_heading text-white">
            <h2 class="heading_subtitle text-uppercase">
              <span class="double_icon">
                <i class="fas fa-sharp fa-square-full"></i>
                <i class="fas fa-sharp fa-square-full"></i>
              </span>
              <span>Contact Us</span>
            </h2>
            <h3 class="heading_title mb-0">
              Get In Touch
            </h3>
          </div>
          <form action="#">
            <div class="row">
              <div class="col col-md-6">
                <div class="form-group m-0">
                  <input class="form-control" type="text" name="firstname" placeholder="First Name">
                </div>
              </div>
              <div class="col col-md-6">
                <div class="form-group m-0">
                  <input class="form-control" type="text" name="lastname" placeholder="Last Name">
                </div>
              </div>
              <div class="col col-md-6">
                <div class="form-group m-0">
                  <input class="form-control" type="email" name="email" placeholder="Email Address">
                </div>
              </div>
              <div class="col col-md-6">
                <div class="select_option m-0">
                  <select>
                    <option data-display="Subject">Select Subject</option>
                    <option value="development">Website Development</option>
                    <option value="design">UX/UI Design</option>
                    <option value="development">App Development</option>
                    <option value="editing">Video Editing</option>
                    <option value="programming">Programming & Tech</option>
                    <option value="business">Business Consuting</option>
                  </select>
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <textarea class="form-control" name="message" placeholder="Write your Message"></textarea>
                </div>

                <button type="submit" class="bd-btn-link btn_warning">
                  <span class="bd-button-content-wrapper">
                    <span class="bd-button-icon">
                     <i class="fa-light fa-arrow-right-long"></i>
                    </span>
                    <span class="pd-animation-flip">
                       <span class="bd-btn-anim-wrapp">
                          <span class="bd-button-text">Send Now</span>
                          <span class="bd-button-text">Send Now</span>
                       </span>
                    </span>
                  </span>
                </button>

              </div>
            </div>
          </form>
        </div>
        <div class="deco_item shape_1">
          <img src="assets/images/shapes/shape_comment.png">
        </div>
        <div class="deco_item shape_2">
          <img src="assets/images/shapes/shape_man_1.png">
        </div>
      </div>
    </div>
  </section>