---
import FaqItem from "./FaqItem.astro";
---

<div class="container">
  <div class="row">
    <div class="col-lg-4 col-md-6">
      <div class="section_heading mb-lg-0">
        <h2 class="heading_title">Need to know User Common Questions</h2>
        <a href="" class="bd-btn-link btn_primary">
          <span class="bd-button-content-wrapper">
            <span class="bd-button-icon">
              <i class="fa-light fa-arrow-right-long"></i>
            </span>
            <span class="pd-animation-flip">
              <span class="bd-btn-anim-wrapp">
                <span class="bd-button-text">Need to Know More</span>
                <span class="bd-button-text">Need to Know More</span>
              </span>
            </span>
          </span>
        </a>
      </div>
    </div>
    <div class="col-lg-8 col-md-6">
      <div class="accordion_wrap" id="faq_accordion">
        <FaqItem
          txtHeader="How much does a new website cost?"
          txtBody={`Regular maintenance is essential for a website to stabilize its
          flexibility and reliability. Proper maintenance would help in
          ensuring your website’s security, invite new
          visitors, boost traffic and more. Of course, we can help you out
          with proper and professional website maintenance in addition to
          development as it supports`}
          id="one"
          expanded={true}
        />
        <FaqItem
          txtHeader="Will you maintain my site for me?"
          txtBody={`Regular maintenance is essential for a website to stabilize its
            flexibility and reliability. Proper maintenance would help in
            ensuring your website’s security, invite new
            visitors, boost traffic and more. Of course, we can help you out
            with proper and professional website maintenance in addition to
            development as it supports`}
          id="two"
          expanded={false}
        />
        <FaqItem
          txtHeader="Will my website be mobile-friendly?"
          txtBody={`Regular maintenance is essential for a website to stabilize its
              flexibility and reliability. Proper maintenance would help in
              ensuring your website’s security, invite new
              visitors, boost traffic and more. Of course, we can help you out
              with proper and professional website maintenance in addition to
              development as it supports`}
          id="three"
          expanded={false}
        />
        <FaqItem
          txtHeader="What if I need help on my site down the road?"
          txtBody={`Regular maintenance is essential for a website to stabilize its
              flexibility and reliability. Proper maintenance would help in
              ensuring your website’s security, invite new
              visitors, boost traffic and more. Of course, we can help you out
              with proper and professional website maintenance in addition to
              development as it supports`}
          id="four"
          expanded={false}
        />
      </div>
    </div>
  </div>
</div>
