---
import StepItem from "./StepItem.astro";
---

<div class="deco_item shado">
  <img class="shape-circle" src="assets/images/shapes/shape_circle_2.svg" />
</div>
<div class="container decoration_wrap">
  <div class="row align-items-center">
    <div class="col-lg-6">
      <div class="starter_steps_group decoration_wrap mb-4 mg-lg-0">
        <ul class="unordered_list">
          <li>
            <StepItem title="World-class Team" delay=".1s" />
          </li>
          <li>
            <StepItem title="Quickly Response" delay=".2s" />
          </li>
          <li>
            <StepItem title="Satisfaction Guarantee" delay=".3s" />
          </li>
        </ul>
        <div class="deco_item shape_1">
          <img
            class="circle-dashed"
            src="assets/images/shapes/shape_circle_dashed_1.svg"
          />
        </div>
        <div class="deco_item shape_2">
          <img class="circle-2" src="assets/images/shapes/shape_circle_2.svg" />
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="steps_content_wrapper">
        <div class="section_heading mb-5">
          <h2 class="heading_subtitle text-uppercase">
            <span class="double_icon">
              <i class="fas fa-sharp fa-square-full"></i>
              <i class="fas fa-sharp fa-square-full"></i>
            </span>
            <span>Why Chose Us</span>
          </h2>
          <h3 class="heading_title">Revolutionary Step for your Business</h3>
          <p class="heading_description mb-0">
            Our action plan is focused and planned. We are result oriented
            organization and are committed to invest in initiatives for newer
            expanded customer relationship. We always strive to enhance
            productivity and improve
          </p>
        </div>
        <ul class="btns_group unordered_list">
          <li>
            <a href="service.html" class="bd-btn-link btn_primary">
              <span class="bd-button-content-wrapper">
                <span class="bd-button-icon">
                  <i class="fa-light fa-arrow-right-long"></i>
                </span>
                <span class="pd-animation-flip">
                  <span class="bd-btn-anim-wrapp">
                    <span class="bd-button-text">Know More</span>
                    <span class="bd-button-text">Know More</span>
                  </span>
                </span>
              </span>
            </a>
          </li>
          <li>
            <a
              class="video_play_btn popup_video"
              href="https://www.youtube.com/watch?v=7e90gBu4pas"
              data-cursor="-exclusion -lg"
              data-cursor-stick="#intro_vbtn"
            >
              <span id="intro_vbtn" class="icon_wrap">
                <i class="fas fa-play"></i>
              </span>
              <span class="btn_text"
                ><small class="d-block">Watch Our</small> Video</span
              >
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="deco_item shape_3 wow fadeInUp circle" data-wow-delay=".1s">
    <img
      src="assets/images/shapes/shape_circle_1.svg"
      data-parallax='{"y" : -140, "smoothness": 10}'
      class="imgCicle"
    />
  </div>
  <div
    class="deco_item shape_4 wow fadeInDown animated fade"
    data-wow-delay=".1s"
  >
    <img
      src="assets/images/shapes/shape_close_icon.png"
      data-parallax='{"y" : 140, "smoothness": 10}'
      class="close"
    />
  </div>
</div>

<style>
  .circle {
    visibility: visible;
    animation-delay: 0.1s;
    animation-name: fadeInUp;
  }
  .close {
    transform: translate3d(0px, 140px, 0px) rotateX(0deg) rotateY(0deg)
      rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1);
    -webkit-transform: translate3d(0px, 140px, 0px) rotateX(0deg) rotateY(0deg)
      rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1);
  }
  .fade {
    visibility: visible;
    animation-delay: 0.1s;
    animation-name: uicoreFadeInDown, uicoreFadeIn;
  }
  .imgCicle {
    transform: translate3d(0px, -41.707px, 0px) rotateX(0deg) rotateY(0deg)
      rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1);
    -webkit-transform: translate3d(0px, -41.707px, 0px) rotateX(0deg)
      rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1);
  }
  .shape-circle,
  .imgCicle,
  .close {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    max-height: 80px;
  }
  @media (max-width: 992px) {
    .starter_steps_group {
      text-align: center;
    }
    .col-lg-6 {
      flex: 0 0 100%;
      max-width: 100%;
    }
    .shape-circle,
    .imgCicle,
    .close {
      max-height: 60px;
    }
  }

  @media (max-width: 576px) {
    .heading_title {
      font-size: 24px;
    }
    .section_heading {
      text-align: center;
    }
    .shape-circle,
    .imgCicle,
    .close {
      max-height: 40px;
    }
  }
</style>
