---
import Layout from '../layouts/Layout.astro';
---

<Layout lang='es' menu='' title='Error'>
    <section class='error_section text-center mouse_move'>
        <div class='container'>
            <div class='error_image decoration_wrap text-center'>
                <img src='/assets/images/bg/error.png' alt='Imagen de error' />
            </div>
            <div class='error_content'>
                <h1>P치gina no encontrada</h1>
                <p>
                    La URL solicitada que est치s buscando no <span
                        class='d-md-block'>existe en este servidor.</span
                    >
                </p>
                <a href='/es' data-astro-reload class='bd-btn-link btn_primary'>
                    <span class='bd-button-content-wrapper'>
                        <span class='bd-button-icon'>
                            <i class='fa-light fa-arrow-right-long'></i>
                        </span>
                        <span class='pd-animation-flip'>
                            <span class='bd-btn-anim-wrapp'>
                                <span class='bd-button-text'
                                    >Volver a la P치gina Principal</span
                                >
                                <span class='bd-button-text'
                                    >Volver a la P치gina Principal</span
                                >
                            </span>
                        </span>
                    </span>
                </a>
            </div>
        </div>
    </section>
</Layout>

<style>
    .error_image {
        margin-top: 60px;
    }
    .error_content {
        margin-top: 40px;
    }
</style>
