---
import AboutUsSection from '../components/about-us/AboutUsSection.astro';
import BannerSection from '../components/environment/BannerSection.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout transition:persist title="About Us" menu="">
  <section class="page_banner text-center">
    <BannerSection
      title="Conocé a nuestro equipo"
      ahref="/"
      aText="Inicio"
      liText="Nosotros"
    />
  </section>
  <section
    class="details_section service_details section_space_lg position-relative"
  >
    <AboutUsSection />
  </section>
</Layout>
