---
import AboutUsSection from '../components/about-us/AboutUsSection.astro';
import BannerSection from '../components/environment/BannerSection.astro';
import Footer from '../components/environment/Footer.astro';
import Header from '../components/environment/Header/Header';
import Layout from '../layouts/Layout.astro';
import WhatsAppButton from '../components/environment/WhatsAppButton/WhatsAppButton.jsx';
---

<Layout title="About Us">
  <div class="page_wrapper">
    <Header menu="" client:visible />
    <WhatsAppButton client:only="react" />
    <main class="page_content">
      <section class="page_banner text-center">
        <BannerSection
          title="Conocé a nuestro equipo"
          aHref="index.html"
          aText="Inicio"
          liText="Nosotros"
        />
      </section>
      <section class="details_section service_details section_space_lg position-relative">
        <AboutUsSection/>
      </section>
    </main>

    <footer class="site_footer style_4">
      <Footer transition:persist />
    </footer>
  </div>
</Layout>
