---
import Footer from "../components/Footer.astro";
import Header from "../components/Header/Header.jsx";
import Layout from "../layouts/Layout.astro";
import BackToTop from "../components/Scroll/BackTotop.jsx";
import ContactForm from "../components/ContactComponents/ContactForm.astro";
import FaqSection from "../components/ContactComponents/FaqSection.astro";
import PageBannerSection from "../components/PageBannerSection.astro";
---

<Layout title="Contact">
  <div class="page_wrapper">
    <BackToTop client:load />
    <Header menu="" client:visible />
    <main class="page_content">
      <section class="page_banner text-center">
        <PageBannerSection
          title="Contact Us"
          aHref="index.html"
          aText="Home"
          liText="Contact"
        />
      </section>
      <section class="contact_form_section">
        <ContactForm />
      </section>
      <section class="faq_section section_space_lg">
        <FaqSection/>
      </section>
    </main>
    <footer class="site_footer style_4">
      <Footer/>
    </footer>
  </div>
</Layout>
