---
import BannerSection from "../components/environment/BannerSection.astro";
import ContactForm from "../components/contact/ContactForm.astro";
import FaqSection from "../components/contact/FaqSection.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout transition:persist title="Contact" menu="">
  <section class="page_banner text-center">
    <BannerSection
      title="Contactanos"
      aHref="index.html"
      aText="Inicio"
      liText="Contacto"
    />
  </section>
  <section class="contact-section">
    <ContactForm />
  </section>
  <section class="faq_section section_space_lg">
    <FaqSection />
  </section>
</Layout>
