---
import BackToTop from "../components/EnvironmentComponets/Scroll/BackTotop.jsx";
import ContactForm from "../components/ContactComponents/ContactForm.astro";
import FaqSection from "../components/ContactComponents/FaqSection.astro";
import Footer from "../components/EnvironmentComponets/Footer.astro";
import Header from "../components/EnvironmentComponets/Header/Header.jsx";;
import Layout from "../layouts/Layout.astro";
import PageBannerSection from "../components/PageBannerSection.astro";
---

<Layout title="Contact">
  <div class="page_wrapper">
    <BackToTop client:load />
    <Header menu="" client:visible/>
    <main class="page_content">
      <section class="page_banner text-center">
        <PageBannerSection
          title="Contactanos"
          aHref="index.html"
          aText="Inicio"
          liText="Contacto"
        />
      </section>
      <section class="contact-section">
        <ContactForm />
      </section>
      <section class="faq_section section_space_lg">
        <FaqSection/>
      </section>
    </main>
    <footer class="site_footer style_4">
      <Footer/>
    </footer>
  </div>
</Layout>../components/EnvironmentComponets/Scroll/BackTotop.jsx