---
import ClientLogoSection from "../components/index/ClientLogoSection.astro";
import CounterSection from "../components/index/Counter/CounterSection.jsx";
import HeroeSection from "../components/index/HeroeSection.astro";
import Layout from "../layouts/Layout.astro";
import PortafolioSection from "../components/index/Portafolio/PortafolioSection.jsx";
import Preloader from "../components/environment/Preloader/Preloader.jsx";
import ProvidingSection from "../components/index/Providing/ProvidingSection.jsx";
import ReviewSection from "../components/index/Review/ReviewSection.jsx";
import StepSection from "../components/index/Step/StepSection.astro";
import TeamSection from "../components/index/Team/TeamSection.astro";
import WhatsAppButton from "../components/environment/WhatsAppButton/WhatsAppButton";
---

<Layout title="CerqueTech Solutions" menu="main-menu-3">
  <WhatsAppButton client:only="react" />
  <Preloader client:only="react" />
  <section class="hero_banner_section style_3 bg_primary">
    <HeroeSection />
  </section>
  <section class="service_section_2">
    <ProvidingSection client:only="react" />
  </section>
  <ClientLogoSection />
  <section class="starter_steps_section section_space_lg">
    <StepSection />
  </section>
  <section class="counter_section section_space_lg decoration_wrap">
    <CounterSection client:only="react" />
  </section>
  <section class="portfolio_section section_space_lg">
    <PortafolioSection client:only="react" />
  </section>
  <section class="team_section section_space_lg bg_half_top_light">
    <TeamSection />
  </section>
  <section class="review_section section_space_lg bg_primary">
    <ReviewSection client:only="react" />
  </section>
</Layout>

<style>
  .service_section_2 {
    background-image: url("assets/images/shapes/shape_7.svg");
  }

  .hero_banner_section {
    width: 100vw !important;
    height: 100vh !important;
  }
</style>
