---
import BackToTop from "../components/EnvironmentComponets/Scroll/BackTotop.jsx";
import ClientLogoSection from "../components/IndexComponents/ClientLogoSection.astro";
import CounterSection from "../components/IndexComponents/Counter/CounterSection.jsx";
import Footer from "../components/EnvironmentComponets/Footer.astro";
import Header from "../components/EnvironmentComponets/Header/Header";
import HeroeSection from "../components/IndexComponents/HeroeSection.astro";
import Layout from "../layouts/Layout.astro";
import PortafolioSection from "../components/IndexComponents/Portafolio/PortafolioSection.jsx";
import Preloader from "../components/EnvironmentComponets/Preloader/Preloader.jsx";
import ProvidingSection from "../components/IndexComponents/Providing/ProvidingSection.jsx";
import ReviewSection from "../components/IndexComponents/Review/ReviewSection.jsx";
import StepSection from "../components/IndexComponents/Step/StepSection.astro";
import TeamSection from "../components/IndexComponents/Team/TeamSection.astro";
---

<Layout title="Cerquetech Solutions">
  <!-- Preloader TOODO 
  <Preloader client:load />
  -->
  <div class="page_wrapper">
    <BackToTop client:load />
    <Header menu="main-menu-3" client:visible />
    <main class="page_content">
      <section class="hero_banner_section style_3 bg_primary">
        <HeroeSection />
      </section>
      <section class="service_section_2">
        <ProvidingSection client:visible />
      </section>
      <ClientLogoSection />
      <section class="starter_steps_section section_space_lg">
        <StepSection />
      </section>
      <section class="counter_section section_space_lg decoration_wrap">
        <CounterSection client:visible />
      </section>
      <section class="portfolio_section section_space_lg bg_primary">
        <PortafolioSection client:visible />
      </section>
      <section class="team_section section_space_lg bg_half_top_light">
        <TeamSection />
      </section>
      <section class="review_section section_space_lg bg_primary">
        <ReviewSection client:visible />
      </section>
    </main>
    <footer class="site_footer style_4">
      <Footer />
    </footer>
  </div>
</Layout>
<style>
  .site_footer {
    margin-top: 50px;
  }
  .service_section_2 {
    background-color: linear-gradient(
      90deg,
      #f1f1fc 0%,
      rgba(241, 241, 252, 0) 100%
    );
    background-image: url("assets/images/shapes/shape_7.svg");
  }

  .hero_banner_section {
    width: 100vw !important;
    height: 100vh !important;
  }
  .page_wrapper {
    overflow: hidden;
    position: relative;
  }
</style>
