---
import BackToTop from "../components/Scroll/BackTotop.jsx";
import ClientLogoSection from "../components/ClientLogoSection.astro";
import CounterSection from "../components/CounterSection.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header/Header.jsx";
import HeroeSection from "../components/HeroeSection.astro";
import PortafolioSection from "../components/Portafolio/PortafolioSection.jsx";
import ProvidingSection from "../components/Providing/ProvidingSection.jsx";
import ReviewSection from "../components/Review/ReviewSection.jsx";
import StepSection from "../components/Step/StepSection.astro";
import TeamSection from "../components/Team/TeamSection.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Cerquetech Solutions">
    <div class="page_wrapper">
      <BackToTop client:load />
      <Header transition:persist client:visible />
      <main class="page_content">
        <section class="hero_banner_section style_3 bg_primary">
          <HeroeSection />
        </section>
        <section class="service_section_2">
          <ProvidingSection client:visible />
        </section>
        <section class="starter_steps_section section_space_lg">
          <StepSection />
        </section>
        <section class="counter_section section_space_lg decoration_wrap">
          <CounterSection />
        </section>
        <div class="client_logo_section bg_warning">
          <ClientLogoSection />
        </div>
        <section class="portfolio_section section_space_lg bg_primary">
          <PortafolioSection client:visible />
        </section>
        <section class="team_section section_space_lg bg_half_top_light">
          <TeamSection />
        </section>
        <section class="review_section bg_light position-relative">
          <ReviewSection client:visible />
        </section>
      </main>
      <footer class="site_footer style_4">
        <Footer transition:persist />
      </footer>
    </div>
</Layout>

<style>
  .site_footer {
    margin-top: 50px;
  }
  .service_section_2 {
    background-color: linear-gradient(
      90deg,
      #f1f1fc 0%,
      rgba(241, 241, 252, 0) 100%
    );
    background-image: url("assets/images/shapes/shape_7.svg");
  }

  .hero_banner_section {
    width: 100vw !important;
    height: 100vh !important;
  }
  .page_wrapper {
    overflow: hidden;
    position: relative;
  }
</style>
