---
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import Providing from '../components/Providing.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Cerquetech Solutions">
  <main>
    <Header></Header>
    <Providing></Providing>
    <Footer></Footer>
  </main>
</Layout>
