---
import ClientLogoSection from "../components/ClientLogoSection.astro";
import CounterSection from "../components/CounterSection.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import PortafolioSection from "../components/PortafolioSection";
import ProvidingSection from "../components/ProvidingSection";
import ReviewSection from "../components/ReviewSection.astro";
import StepSection from "../components/StepSection.astro";
import TeamSection from "../components/TeamSection.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Cerquetech Solutions">
  <div class="page_wrapper">
    <header class="site_header site_header_1">
      <Header />
    </header>
    <main class="page_content">
      <section class="service_section section_space_lg">
        <ProvidingSection client:visible />
      </section>
      <section class="starter_steps_section section_space_lg">
        <StepSection />
      </section>
      <section class="counter_section section_space_lg decoration_wrap">
        <CounterSection />
      </section>
      <div class="client_logo_section bg_warning">
        <ClientLogoSection />
      </div>
      <section class="portfolio_section section_space_lg bg_primary">
        <PortafolioSection client:visible />
      </section>
      <section class="team_section section_space_lg bg_half_top_light">
        <TeamSection />
      </section>
      <section class="review_section bg_light position-relative">
        <ReviewSection />
      </section>
      <footer class="site_footer style_1">
        <Footer />
      </footer>
    </main>
  </div>
</Layout>
