---
import Footer from "../components/Footer.astro";
import Header from "../components/Header/Header";
import PageBanner from "../components/PageBanner.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Pricing">
  <div class="page_wrapper">
    <Header transition:persist client:visible />
    <main class="page_content">
      <PageBanner title="Pricing" />
      <section class="pricing_section section_space_lg">
        <div class="container">
          <div class="pricing_items_group row">
            <div class="col col-xl-3 col-lg-4 col-md-6">
              <div class="pricing_item">
                <h3 class="item_title">Nano</h3>
                <div class="price_value">
                  <strong>20$</strong>
                  <sub>/Months</sub>
                </div>
                <p>Alternatively, you can also have product tier names</p>
                <ul class="icon_list unordered_list_block">
                  <li>
                    <span class="list_item_icon">
                      <i class="fas fa-check"></i>
                    </span>
                    <span class="list_item_text">06 Home Page</span>
                  </li>
                  <li>
                    <span class="list_item_icon">
                      <i class="fas fa-check"></i>
                    </span>
                    <span class="list_item_text">30+ Inner Page Design</span>
                  </li>
                  <li>
                    <span class="list_item_icon">
                      <i class="fas fa-check"></i>
                    </span>
                    <span class="list_item_text">Fully Responsive</span>
                  </li>
                  <li>
                    <span class="list_item_icon">
                      <i class="fas fa-check"></i>
                    </span>
                    <span class="list_item_text">Figma File Included</span>
                  </li>
                  <li>
                    <span class="list_item_icon">
                      <i class="fas fa-check"></i>
                    </span>
                    <span class="list_item_text">Custom Plugin</span>
                  </li>
                </ul>
                <a href="#!" class="bd-btn-link outline-dark">
                  <span class="bd-button-content-wrapper">
                    <span class="bd-button-icon">
                      <i class="fa-light fa-arrow-right-long"></i>
                    </span>
                    <span class="pd-animation-flip">
                      <span class="bd-btn-anim-wrapp">
                        <span class="bd-button-text">Order Now</span>
                        <span class="bd-button-text">Order Now</span>
                      </span>
                    </span>
                  </span>
                </a>
              </div>
            </div>
            <div class="col col-xl-3 col-lg-4 col-md-6">
              <div class="pricing_item">
                <h3 class="item_title">Micro</h3>
                <div class="price_value">
                  <strong>50$</strong>
                  <sub>/Months</sub>
                </div>
                <p>Alternatively, you can also have product tier names</p>
                <ul class="icon_list unordered_list_block">
                  <li>
                    <span class="list_item_icon">
                      <i class="fas fa-check"></i>
                    </span>
                    <span class="list_item_text">06 Home Page</span>
                  </li>
                  <li>
                    <span class="list_item_icon">
                      <i class="fas fa-check"></i>
                    </span>
                    <span class="list_item_text">30+ Inner Page Design</span>
                  </li>
                  <li>
                    <span class="list_item_icon">
                      <i class="fas fa-check"></i>
                    </span>
                    <span class="list_item_text">Fully Responsive</span>
                  </li>
                  <li>
                    <span class="list_item_icon">
                      <i class="fas fa-check"></i>
                    </span>
                    <span class="list_item_text">Figma File Included</span>
                  </li>
                  <li>
                    <span class="list_item_icon">
                      <i class="fas fa-check"></i>
                    </span>
                    <span class="list_item_text">Custom Plugin</span>
                  </li>
                </ul>
                <a href="#!" class="bd-btn-link outline-dark">
                  <span class="bd-button-content-wrapper">
                    <span class="bd-button-icon">
                      <i class="fa-light fa-arrow-right-long"></i>
                    </span>
                    <span class="pd-animation-flip">
                      <span class="bd-btn-anim-wrapp">
                        <span class="bd-button-text">Order Now</span>
                        <span class="bd-button-text">Order Now</span>
                      </span>
                    </span>
                  </span>
                </a>
              </div>
            </div>
            <div class="col col-xl-3 col-lg-4 col-md-6">
              <div
                class="pricing_item recomanded_item"
                style="background-image: url('assets/images/shapes/shape_dots_BG.png');"
              >
                <h3 class="item_title">Mega</h3>
                <div class="price_value">
                  <strong>99$</strong>
                  <sub>/Months</sub>
                </div>
                <p>Alternatively, you can also have product tier names</p>
                <ul class="icon_list unordered_list_block">
                  <li>
                    <span class="list_item_icon">
                      <i class="fas fa-check"></i>
                    </span>
                    <span class="list_item_text">06 Home Page</span>
                  </li>
                  <li>
                    <span class="list_item_icon">
                      <i class="fas fa-check"></i>
                    </span>
                    <span class="list_item_text">30+ Inner Page Design</span>
                  </li>
                  <li>
                    <span class="list_item_icon">
                      <i class="fas fa-check"></i>
                    </span>
                    <span class="list_item_text">Fully Responsive</span>
                  </li>
                  <li>
                    <span class="list_item_icon">
                      <i class="fas fa-check"></i>
                    </span>
                    <span class="list_item_text">Figma File Included</span>
                  </li>
                  <li>
                    <span class="list_item_icon">
                      <i class="fas fa-check"></i>
                    </span>
                    <span class="list_item_text">Custom Plugin</span>
                  </li>
                </ul>
                <a href="about.html" class="bd-btn-link btn_warning">
                  <span class="bd-button-content-wrapper">
                    <span class="bd-button-icon">
                      <i class="fa-light fa-arrow-right-long"></i>
                    </span>
                    <span class="pd-animation-flip">
                      <span class="bd-btn-anim-wrapp">
                        <span class="bd-button-text">Order Now</span>
                        <span class="bd-button-text">Order Now</span>
                      </span>
                    </span>
                  </span>
                </a>
              </div>
            </div>
            <div class="col col-xl-3 col-lg-4 col-md-6">
              <div class="pricing_item">
                <h3 class="item_title">Giga</h3>
                <div class="price_value">
                  <strong>130$</strong>
                  <sub>/Months</sub>
                </div>
                <p>Alternatively, you can also have product tier names</p>
                <ul class="icon_list unordered_list_block">
                  <li>
                    <span class="list_item_icon">
                      <i class="fas fa-check"></i>
                    </span>
                    <span class="list_item_text">06 Home Page</span>
                  </li>
                  <li>
                    <span class="list_item_icon">
                      <i class="fas fa-check"></i>
                    </span>
                    <span class="list_item_text">30+ Inner Page Design</span>
                  </li>
                  <li>
                    <span class="list_item_icon">
                      <i class="fas fa-check"></i>
                    </span>
                    <span class="list_item_text">Fully Responsive</span>
                  </li>
                  <li>
                    <span class="list_item_icon">
                      <i class="fas fa-check"></i>
                    </span>
                    <span class="list_item_text">Figma File Included</span>
                  </li>
                  <li>
                    <span class="list_item_icon">
                      <i class="fas fa-check"></i>
                    </span>
                    <span class="list_item_text">Custom Plugin</span>
                  </li>
                </ul>
                <a href="#!" class="bd-btn-link outline-dark">
                  <span class="bd-button-content-wrapper">
                    <span class="bd-button-icon">
                      <i class="fa-light fa-arrow-right-long"></i>
                    </span>
                    <span class="pd-animation-flip">
                      <span class="bd-btn-anim-wrapp">
                        <span class="bd-button-text">Order Now</span>
                        <span class="bd-button-text">Order Now</span>
                      </span>
                    </span>
                  </span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Pricing Section - End
        ================================================== -->

      <!-- Faq Section - Start
        ================================================== -->
      <section class="faq_section section_space_lg bg_light">
        <div class="container">
          <div class="row">
            <div class="col col-lg-4">
              <div class="faq_content mb-4 mb-lg-0">
                <div class="section_heading mb-lg-0">
                  <h2 class="heading_title">
                    Need to know User Common Questions
                  </h2>

                  <a href="faq.html" class="bd-btn-link btn_primary">
                    <span class="bd-button-content-wrapper">
                      <span class="bd-button-icon">
                        <i class="fa-light fa-arrow-right-long"></i>
                      </span>
                      <span class="pd-animation-flip">
                        <span class="bd-btn-anim-wrapp">
                          <span class="bd-button-text">Need to Know More</span>
                          <span class="bd-button-text">Need to Know More</span>
                        </span>
                      </span>
                    </span>
                  </a>
                </div>
              </div>
            </div>
            <div class="col col-lg-8">
              <div class="accordion_wrap" id="faq_accordion">
                <div class="accordion_item">
                  <h3 class="accordion_header m-0" id="heading_one">
                    <button
                      class="accordion_button"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#collapse_one"
                      aria-expanded="true"
                      aria-controls="collapse_one"
                    >
                      How much does a new website cost?
                    </button>
                  </h3>
                  <div
                    id="collapse_one"
                    class="accordion-collapse collapse show"
                    aria-labelledby="heading_one"
                    data-bs-parent="#faq_accordion"
                  >
                    <div class="accordion_body">
                      <p class="m-0">
                        Regular maintenance is essential for a website to
                        stabilize its flexibility and reliability. Proper
                        maintenance would help in ensuring your <a href="#!"
                          >website’s security</a
                        >, invite new visitors, boost traffic and more. Of
                        course, we can help you out with proper and professional
                        website maintenance in addition to development as it
                        supports
                      </p>
                    </div>
                  </div>
                </div>
                <div class="accordion_item">
                  <h3 class="accordion_header m-0" id="heading_two">
                    <button
                      class="accordion_button collapsed"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#collapse_two"
                      aria-expanded="false"
                      aria-controls="collapse_two"
                    >
                      Will you maintain my site for me?
                    </button>
                  </h3>
                  <div
                    id="collapse_two"
                    class="accordion-collapse collapse"
                    aria-labelledby="heading_two"
                    data-bs-parent="#faq_accordion"
                  >
                    <div class="accordion_body">
                      <p class="m-0">
                        Regular maintenance is essential for a website to
                        stabilize its flexibility and reliability. Proper
                        maintenance would help in ensuring your <a href="#!"
                          >website’s security</a
                        >, invite new visitors, boost traffic and more. Of
                        course, we can help you out with proper and professional
                        website maintenance in addition to development as it
                        supports
                      </p>
                    </div>
                  </div>
                </div>
                <div class="accordion_item">
                  <h3 class="accordion_header m-0" id="heading_three">
                    <button
                      class="accordion_button collapsed"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#collapse_three"
                      aria-expanded="false"
                      aria-controls="collapse_three"
                    >
                      Will my website be mobile-friendly?
                    </button>
                  </h3>
                  <div
                    id="collapse_three"
                    class="accordion-collapse collapse"
                    aria-labelledby="heading_three"
                    data-bs-parent="#faq_accordion"
                  >
                    <div class="accordion_body">
                      <p class="m-0">
                        Regular maintenance is essential for a website to
                        stabilize its flexibility and reliability. Proper
                        maintenance would help in ensuring your <a href="#!"
                          >website’s security</a
                        >, invite new visitors, boost traffic and more. Of
                        course, we can help you out with proper and professional
                        website maintenance in addition to development as it
                        supports
                      </p>
                    </div>
                  </div>
                </div>
                <div class="accordion_item">
                  <h3 class="accordion_header m-0" id="heading_four">
                    <button
                      class="accordion_button collapsed"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#collapse_four"
                      aria-expanded="false"
                      aria-controls="collapse_four"
                    >
                      What if I need help on my site down the road?
                    </button>
                  </h3>
                  <div
                    id="collapse_four"
                    class="accordion-collapse collapse"
                    aria-labelledby="heading_four"
                    data-bs-parent="#faq_accordion"
                  >
                    <div class="accordion_body">
                      <p class="m-0">
                        Regular maintenance is essential for a website to
                        stabilize its flexibility and reliability. Proper
                        maintenance would help in ensuring your <a href="#!"
                          >website’s security</a
                        >, invite new visitors, boost traffic and more. Of
                        course, we can help you out with proper and professional
                        website maintenance in addition to development as it
                        supports
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Faq Section - End
        ================================================== -->
    </main>
    <footer class="site_footer style_4">
      <Footer transition:persist />
    </footer>
  </div>
</Layout>
