---
import BackToTop from "../components/environment/Scroll/BackTotop.jsx";
import BannerSection from "../components/environment/BannerSection.astro";
import Footer from "../components/environment/Footer.astro";
import Header from "../components/environment/Header/Header.jsx";
import Layout from "../layouts/Layout.astro";
import ServicesSection from "../components/services/ServicesSection.astro";
---

<Layout title="Services">
  <div class="page_wrapper">
    <BackToTop client:load />
    <Header menu="" client:visible />
    <main class="page_content">
      <section class="page_banner text-center">
        <BannerSection
          title="Servicios"
          aHref="index.html"
          aText="Inicio"
          liText="Servicios"
        />
      </section>
      <section class="service_section section_space_lg">
        <ServicesSection/>
      </section>
    </main>

    <footer class="site_footer style_4">
      <Footer transition:persist />
    </footer>
  </div>
</Layout>