---
import Footer from "../components/Footer.astro";
import Header from "../components/Header/Header";
import PageBanner from "../components/PageBanner.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Team">
  <div class="page_wrapper">
    <Header transition:persist client:only />
    <main class="page_content">
      <PageBanner title="Our Team" />
    </main>
    <footer class="site_footer style_4">
      <Footer transition:persist />
    </footer>
  </div>
</Layout>
