<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <div class="contact_form_boxed bg_primary decoration_wrap">
        <div class="contact_form p-4 bg-transparent rounded-0">
          <div class="section_heading text-white text-center mb-4">
            <h2 class="heading_subtitle text-uppercase">
              <span class="double_icon">
                <i class="fas fa-sharp fa-square-full"></i>
                <i class="fas fa-sharp fa-square-full"></i>
              </span>
              <span>Contactanos</span>
            </h2>
            <h3 class="heading_title">Ponete en contacto</h3>
          </div>
          <form action="#" method="post">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <input
                    class="form-control"
                    type="text"
                    name="firstname"
                    placeholder="Nombre"
                  />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <input
                    class="form-control"
                    type="text"
                    name="lastname"
                    placeholder="Apellido"
                  />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <input
                    class="form-control"
                    type="email"
                    name="email"
                    placeholder="Email"
                    autocomplete="email"
                  />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group select">
                  <select
                    class="form-control"
                    id="subjectSelect"
                    name="subject"
                  >
                    <option value="" selected disabled
                      >Seleccionar Asunto</option
                    >
                    <option value="website-development"
                      >Desarrollo de sitios web</option
                    >
                    <option value="design">Diseño UX/UI</option>
                    <option value="app-development"
                      >Desarrollo de aplicaciones</option
                    >
                    <option value="editing">Edición de video</option>
                    <option value="programming"
                      >Programación y tecnología</option
                    >
                    <option value="business">Consulta de trabajo</option>
                  </select>
                </div>
              </div>
              <div class="col-12">
                <div class="form-group">
                  <textarea
                    class="form-control"
                    name="message"
                    placeholder="Escribe tu mensaje"></textarea>
                </div>
              </div>
              <div class="col-12 text-center">
                <button type="submit" class="bd-btn-link btn_warning">
                  <span class="bd-button-content-wrapper">
                    <span class="bd-button-icon">
                      <i class="fa-light fa-arrow-right-long"></i>
                    </span>
                    <span class="pd-animation-flip">
                      <span class="bd-btn-anim-wrapp">
                        <span class="bd-button-text">Enviar ahora</span>
                        <span class="bd-button-text">Enviar ahora</span>
                      </span>
                    </span>
                  </span>
                </button>
              </div>
            </div>
          </form>
        </div>
        <div class="deco_item shape_1">
          <img
            src="assets/images/shapes/shape_comment.png"
            class="img-fluid"
            alt="Shape 1"
          />
        </div>
        <div class="deco_item shape_2">
          <img
            src="assets/images/shapes/shape_man_1.png"
            class="img-fluid"
            alt="Shape 2"
          />
        </div>
      </div>
    </div>
  </div>
</div>
<style>
  .select::after {
    content: "\f078";
    font-family: "Font Awesome 5 Pro";
    font-weight: 900;
    font-size: 12px;
    position: absolute;
    top: calc(50% - 7px);
    right: 10px;
    pointer-events: none;
  }
  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(50px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes moveY {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(50px);
    }
    100% {
      transform: translateY(0);
    }
  }

  .shape_1 {
    animation: fadeInUp 1s ease-in-out forwards;
  }

  .shape_2 {
    animation:
      fadeInUp 1s ease-in-out forwards 0.1s,
      moveY 2s ease-in-out infinite;
  }
</style>
