---
import FaqItem from "./FaqItem";
---

<div class="container">
  <div class="row">
    <div class="col-lg-4 col-md-6">
      <div class="section_heading mb-lg-0">
        <h2 class="heading_title">Preguntas frecuentes de los usuarios</h2>
        <a href="" class="bd-btn-link btn_primary">
          <span class="bd-button-content-wrapper">
            <span class="bd-button-icon">
              <i class="fa-light fa-arrow-right-long"></i>
            </span>
            <span class="pd-animation-flip">
              <span class="bd-btn-anim-wrapp">
                <span class="bd-button-text">Necesito saber más</span>
                <span class="bd-button-text">Necesito saber más</span>
              </span>
            </span>
          </span>
        </a>
      </div>
    </div>
    <div class="col-lg-8 col-md-6">
      <div class="accordion_wrap" id="faq_accordion">
        <FaqItem
          id="one"
          txtHeader="¿Cuánto cuesta un nuevo sitio web?"
          txtBody={`El mantenimiento regular es esencial para que un sitio web estabilice su
            flexibilidad y confiabilidad. Un mantenimiento adecuado ayudaría a
            garantizando la seguridad de su sitio web, invite a nuevos
            visitantes, aumentar el tráfico y más. Por supuesto que podemos ayudarte.
            con un mantenimiento adecuado y profesional del sitio web además de
            desarrollo ya que apoya`}
          expanded={true}
          client:visible
        />
        <FaqItem
          id="two"
          txtHeader="¿Mantendrás mi sitio por mí?"
          txtBody={`El mantenimiento regular es esencial para que un sitio web estabilice su
            flexibilidad y confiabilidad. Un mantenimiento adecuado ayudaría a
            garantizando la seguridad de su sitio web, invite a nuevos
            visitantes, aumentar el tráfico y más. Por supuesto que podemos ayudarte.
            con un mantenimiento adecuado y profesional del sitio web además de
            desarrollo ya que apoya`}
          client:visible
        />
        <FaqItem
          id="three"
          txtHeader="¿Mi sitio web será compatible con dispositivos móviles?"
          txtBody={`El mantenimiento regular es esencial para que un sitio web estabilice su
            flexibilidad y confiabilidad. Un mantenimiento adecuado ayudaría a
            garantizando la seguridad de su sitio web, invite a nuevos
            visitantes, aumentar el tráfico y más. Por supuesto que podemos ayudarte.
            con un mantenimiento adecuado y profesional del sitio web además de
            desarrollo ya que apoya`}
          expanded={false}
          client:visible
        />
        <FaqItem
          id="four"
          txtHeader="¿Qué pasa si necesito ayuda en mi sitio en el futuro?"
          txtBody={`El mantenimiento regular es esencial para que un sitio web estabilice su
            flexibilidad y confiabilidad. Un mantenimiento adecuado ayudaría a
            garantizando la seguridad de su sitio web, invite a nuevos
            visitantes, aumentar el tráfico y más. Por supuesto que podemos ayudarte.
            con un mantenimiento adecuado y profesional del sitio web además de
            desarrollo ya que apoya`}
          expanded={false}
          client:visible
        />
      </div>
    </div>
  </div>
</div>
