<div class="container">
  <div class="client_logo_boxed border-0 rounded-0">
    <div class="client_logo_item">
      <img
        src="/assets/images/clients/client_logo_1.png"
        alt="Paradox Client Logo"
      />
    </div>
    <div class="client_logo_item">
      <img
        src="/assets/images/clients/client_logo_2.png"
        alt="Paradox Client Logo"
      />
    </div>
    <div class="client_logo_item">
      <img
        src="/assets/images/clients/client_logo_3.png"
        alt="Paradox Client Logo"
      />
    </div>
    <div class="client_logo_item">
      <img
        src="/assets/images/clients/client_logo_4.png"
        alt="Paradox Client Logo"
      />
    </div>
    <div class="client_logo_item">
      <img
        src="/assets/images/clients/client_logo_5.png"
        alt="Paradox Client Logo"
      />
    </div>
  </div>
</div>
