<section class="counter_section section_space_lg decoration_wrap">
    <div class="container">
      <div class="row">
        <div class="col col-lg-4 col-md-6" data-parallax='{"y" : 30, "smoothness": 10}'>
          <div class="counter_item mb-5 mb-lg-0">
            <div class="counter_value">
              <span class="odometer" data-count="2400">2400</span>
              <sup>+</sup>
            </div>
            <h3 class="counter_title mb-0">Worldwide Happy Client</h3>
          </div>
        </div>
        <div class="col col-lg-4 col-md-6">
          <div class="counter_item mb-4 mb-lg-0">
            <div class="counter_value">
              <span class="odometer" data-count="1690">1690</span>
              <sup>+</sup>
            </div>
            <h3 class="counter_title mb-0">Completed Project</h3>
          </div>
        </div>
        <div class="col col-lg-4 col-md-6" data-parallax='{"y" : -30, "smoothness": 10}'>
          <div class="counter_item">
            <div class="counter_value">
              <span class="odometer" data-count="100">100</span>
              <sup>%</sup>
            </div>
            <h3 class="counter_title mb-0">Client Satisfaction</h3>
          </div>
        </div>
      </div>
    </div>
    <div class="deco_item shape_1">
      <img src="assets/images/shapes/shape_line_flow.svg" alt="Paradox Shapes Image Line Flow">
    </div>
    <div class="deco_item shape_2">
      <img src="assets/images/shapes/shape_circle_2.svg" alt="Paradox Shapes Circle">
    </div>
  </section>