<header class="site_header site_header_1">
    <div class="container">
      <div class="header_wrapper">
        <div class="site_logo">
             <a class="site_link" href="index.html">
            <img src="/assets/images/logo/site_logo_dark.svg" alt="Site Logo - Paradox - Agency Template"> 
          </a>
        </div>
        <div class="mean__menu-wrapper d-none d-lg-block">
          <div class="main-menu">
             <nav id="mobile-menu">
                <ul>
                   <li class="has-dropdown">
                      <a href="index.html">Home</a>
                      <ul class="submenu">
                        <li class="active"><a href="index.html">Creative Agency</a></li>
                        <li><a href="personal_portfolio.html">Personal Portfolio</a></li>
                        <li><a href="startup_business.html">Startup Business</a></li>
                        <li><a href="digital_agency.html">Digital Agency</a></li>
                        <li><a href="business_consulting.html">Business Consulting</a></li>
                        <li><a href="it_agency.html">IT Agency</a></li>
                        <li class="has-dropdown"><a href="javascript:void(0)">RTL Demos</a>
                          <ul class="submenu">
                            <li><a href="index_rtl.html">Creative Agency RTL</a></li>
                            <li><a href="personal_portfolio_rtl.html">Personal Portfolio RTL</a></li>
                            <li><a href="startup_business_rtl.html">Startup Business RTL</a></li>
                            <li><a href="digital_agency_rtl.html">Digital Agency RTL</a></li>
                            <li><a href="business_consulting_rtl.html">Business Consulting RTL</a></li>
                            <li><a href="it_agency_rtl.html">IT Agency RTL</a></li>
                          </ul>
                        </li>
                      </ul>
                   </li>
                   
                   <li class="has-dropdown">
                      <a href="blog.html">Services</a>
                      <ul class="submenu">
                        <li><a href="service.html">Service Layout 1</a></li>
                        <li><a href="service_2.html">Service Layout 2</a></li>
                        <li><a href="service_3.html">Service Layout 3</a></li>
                        <li><a href="service_4.html">Service Layout 4</a></li>
                        <li><a href="service_details.html">Service Details</a></li>
                      </ul>
                    </li>

                   <li class="has-dropdown has-mega-menu">
                    <a href="#">Pages</a>
                    <ul class="mega-menu">
                      <li>
                         <a href="javasript:void(0);" class="mega-menu-title">Page Layout 1</a>
                         <ul>
                            <li><a href="portfolio.html">Portfolio Default</a></li>
                            <li><a href="portfolio_grid.html">Portfolio Grid</a></li>
                            <li><a href="portfolio_fullwidth.html">Portfolio Full-width</a></li>
                            <li><a href="portfolio_masonry.html">Portfolio Masonry</a></li>
                            <li><a href="portfolio_details.html">Portfolio Details</a></li>    
                        </ul>
                      </li>
                      <li>
                         <a href="javasript:void(0);" class="mega-menu-title">Page Layout 2</a>
                         <ul>
                            <li><a href="about.html">About Us</a></li>
                            <li><a href="about_2.html">About Me</a></li>
                            <li><a href="team.html">Our Team</a></li>
                            <li><a href="blog.html">Blog Default</a></li>
                            <li><a href="blog_classic.html">Blog Classic</a></li>
                            <li><a href="blog_left_sidebar.html">Blog Left Sidebar</a></li>
                            <li><a href="blog_right_sidebar.html">Blog Right Sidebar</a></li>
                            <li><a href="blog_details.html">Blog Details</a></li>
                          </ul>
                      </li>
                      <li>
                         <a href="javasript:void(0);" class="mega-menu-title">Page Layout 3</a>

                         <ul>
                            <li><a href="service.html">Service Layout 1</a></li>
                            <li><a href="service_2.html">Service Layout 2</a></li>
                            <li><a href="service_3.html">Service Layout 3</a></li>
                            <li><a href="service_4.html">Service Layout 4</a></li>
                            <li><a href="service_details.html">Service Details</a></li>
                            <li><a href="testimonial.html">Testimonial </a></li>
                            <li><a href="pricing.html">Pricing Table</a></li>
                            <li><a href="terms_conditions.html">Terms & Conditions</a></li>
                            <li><a href="policy_privacy.html">Privacy & Policy</a></li>
                         </ul>
                      </li>
                      <li>
                         <a href="javasript:void(0);" class="mega-menu-title">Page Layout 4</a>

                         <ul>
                            <li><a href="signin.html">Sign In</a></li>
                            <li><a href="signup.html">Sign Up</a></li>
                            <li><a href="client_form.html">Feedback Form</a></li>
                            <li><a href="error.html">Error 404</a></li>
                            <li><a href="faq.html">FAQs</a></li>
                            <li><a href="contact.html">Contact Layout 1</a></li>
                            <li><a href="contact_2.html">Contact Layout 2</a></li>
                            <li><a href="comming_soon.html">comming soon</a></li>
                         </ul>
                      </li>
                   </ul>
                   </li>
                   
                   <li class="has-dropdown">
                    <a href="blog.html">Portfolio</a>
                    <ul class="submenu">
                      <li><a href="portfolio.html">Portfolio Default</a></li>
                      <li><a href="portfolio_grid.html">Portfolio Grid</a></li>
                      <li><a href="portfolio_fullwidth.html">Portfolio Full-width</a></li>
                      <li><a href="portfolio_masonry.html">Portfolio Masonry</a></li>
                      <li><a href="portfolio_details.html">Portfolio Details</a></li>
                    </ul>
                  </li>

                  <li class="has-dropdown">
                      <a href="blog.html">Blog</a>
                      <ul class="submenu">
                        <li><a href="blog.html">Blog Default</a></li>
                        <li><a href="blog_classic.html">Blog Classic</a></li>
                        <li><a href="blog_left_sidebar.html">Blog Left Sidebar</a></li>
                        <li><a href="blog_right_sidebar.html">Blog Right Sidebar</a></li>
                        <li><a href="blog_details.html">Blog Details</a></li>
                      </ul>
                  </li>

                  <li>
                      <a href="contact.html">Contact</a>
                  </li>

                </ul>
             </nav>

             <div class="header__hamburger ml-50 d-none">
                <button type="button" class="hamburger-btn offcanvas-open-btn">
                   <span>01</span>
                   <span>01</span>
                   <span>01</span>
                </button>
             </div>
          </div>
       </div>
       <div class="header_right">
        <ul class="header_btns_group unordered_list_end d-none d-md-flex">
           <li>
            <div class="select_option m-0">
              <div class="icon_wrap">
                  <img src="../../assets/images/icons/icon_globe.svg" alt="Globe Icon"> 
              </div>
              <select>
                <option value="english" selected>English</option>
                <option value="arabic">Spanish</option>
                <option value="portuguese">Portuguese</option>
                <option value="french">French</option>
              </select>
            </div>
          </li> 
          <li>
            <a href="contact.html" class="bd-btn-link outline-dark">
              <span class="bd-button-content-wrapper">
                 <span class="pd-animation-flip">
                    <span class="bd-btn-anim-wrapp">
                       <span class="bd-button-text">Get a Quotes</span>
                       <span class="bd-button-text">Get a Quotes</span>
                    </span>
                 </span> 
              </span>
           </a>
          </li>
        </ul>
        <div class="offcanvas-toggle d-lg-none">
          <a class="bar-icon" href="#">
             <span></span>
             <span></span>
             <span></span>
          </a>
       </div>
      </div>
      </div>
    </div>
  </header>

<style>

</style>