<div class="container">
  <div class="row align-items-center">
    <div class="col col-xxl-7 col-xl-6 col-lg-6">
      <div class="banner_content_3 mb-4 mb-lg-0">
        <h1 class="hero_banner_heading">
          Start your new <span>Business</span> with a Great Idea
        </h1>
        <a href="pricing.html" class="bd-btn-link btn_warning">
          <span class="bd-button-content-wrapper">
            <span class="bd-button-icon">
              <i class="fa-light fa-arrow-right-long"></i>
            </span>
            <span class="pd-animation-flip">
              <span class="bd-btn-anim-wrapp">
                <span class="bd-button-text">Start Cooperation</span>
                <span class="bd-button-text">Start Cooperation</span>
              </span>
            </span>
          </span>
        </a>
      </div>
    </div>
    <div class="col col-xxl-5 col-xl-6 col-lg-6">
      <div class="hero_banner_image_3 decoration_wrap">
        <div class="man_image wow fadeInUp" data-wow-delay=".4s">
          <img
            src="/assets/images/banner/hero_banner_image_3.png"
            alt="Paradox Illustration Image"
          />
        </div>
        <div class="deco_item shape_1">
          <img
            class="wow zoomIn"
            data-wow-delay=".2s"
            src="/assets/images/shapes/shape_star_smooth.svg"
            alt="Paradox Illustration Image"
          />
        </div>
      </div>
    </div>
  </div>
</div>
