---
interface Props {
  text_one: string;
  text_two: string;
  text_three: string;
  text_footer: string;
}

const { text_one, text_two, text_three, text_footer } = Astro.props;
---

<section id="content" class="flash">
  <h1 class="first-row">{text_one}</h1>
  <h1 class="second-row">
    {text_two}<img
      class="hourglass"
      src="/svg/hourglass.svg"
      alt="hourglass"
    />{text_three}
  </h1>
</section>
<footer class="flash">
  <p>{text_footer}</p>
</footer>

<style>
  section {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 5rem;
    text-align: center;
  }

  .first-row,
  .second-row {
    letter-spacing: -0.4rem;
    margin-top: 0;
    margin-bottom: 0;
    font-family: Silkscreen, sans-serif;
    font-size: 5rem;
    font-weight: 400;
    line-height: 1.1;
    white-space: nowrap;
  }

  .second-row {
    position: relative;
    left: 140px;
  }

  .hourglass {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    animation: spin 4s linear infinite;
  }

  footer {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 100%;
    padding: 1rem;
    font-size: 1.1rem;
  }

  .flash {
    animation: flash 2s linear;
    animation-iteration-count: 1;
  }

  @keyframes flash {
    0%,
    100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  @media (max-width: 768px) {
    .first-row,
    .second-row {
      font-size: 3rem;
    }
    .second-row {
      left: 80px;
    }
  }

  @media (max-width: 480px) {
    .first-row,
    .second-row {
      font-size: 2rem;
    }
    .second-row {
      left: 40px;
    }
  }
</style>
