---
export default interface Props {
  title: string;
  aHref:string;
  aText:string;
  liText:string;
}

const { title,aHref,aText,liText} = Astro.props;
---
<div class="container decoration_wrap">
  <h1 class="page_title">{title}</h1>
  <ul class="breadcrumb_nav unordered_list_center">
    <li><a href={aHref}>{aText}</a></li>
    <li>{liText}</li>
  </ul>
  <div class="deco_item shape_1">
    <img src="assets/images/shapes/shape_circle_1.svg" />
  </div>
  <div class="deco_item shape_2">
    <img src="assets/images/shapes/shape_circle_half_1.svg" />
  </div>
  <div class="deco_item shape_3">
    <img src="assets/images/shapes/shape_1.svg" />
  </div>
</div>
