<section class="review_section bg_light position-relative">
    <div class="container">
      <div class="row">
        <div class="col col-xl-6 col-lg-6 p-0">
          <div class="testimonial-player">
            <div class="video_widget rounded-0">
              <img src="/assets/images/video/video_poster_image_2.jpg" alt="Paradox Video Poster Image">
              <a class="video_play_icon popup_video" href="https://www.youtube.com/watch?v=7e90gBu4pas">
                <span class="icon_wrap" data-magnetic>
                  <i class="fas fa-play"></i>
                </span>
              </a>
            </div>
          </div>
        </div>
        <div class="col col-xl-6 col-lg-6 p-lg-0">
          <div class="review_carousel_4">
            <div class="common_carousel_1col row">
              <div class="carousel_item col">
                <div class="review_item style_3">
                  <h3 class="review_title">Best Customer Support</h3>
                  <ul class="rating_star unordered_list">
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="fas fa-star"></i></li>
                  </ul>
                  <p class="review_content">
                    Customer feedback will help you understand exactly how your customers experience your service or product and fixing their concerns will lead to an improved client experience. Customer satisfaction leads to customer retention Excellent.
                  </p>
                  <span class="quote_icon">
                    <img src="/assets/images/icons/icon_quote_dark.svg" alt="Paradox Icon Quote">
                  </span>
                  <div class="admin_item">
                    <div class="admin_thumbnail">
                      <img src="/assets/images/meta/avatar_1.png" alt="Admin Avatar">
                    </div>
                    <div class="admin_info">
                      <h3 class="admin_name">Manuel K. Peoples</h3>
                      <span class="admin_designation">Director</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel_item col">
                <div class="review_item style_3">
                  <h3 class="review_title">Best Customer Support</h3>
                  <ul class="rating_star unordered_list">
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="fas fa-star"></i></li>
                  </ul>
                  <p class="review_content">
                    Customer feedback will help you understand exactly how your customers experience your service or product and fixing their concerns will lead to an improved client experience. Customer satisfaction leads to customer retention Excellent.
                  </p>
                  <span class="quote_icon">
                    <img src="/assets/images/icons/icon_quote_dark.svg" alt="Paradox Icon Quote">
                  </span>
                  <div class="admin_item">
                    <div class="admin_thumbnail">
                      <img src="/assets/images/meta/avatar_2.png" alt="Admin Avatar">
                    </div>
                    <div class="admin_info">
                      <h3 class="admin_name">Manuel K. Peoples</h3>
                      <span class="admin_designation">Director</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel_item col">
                <div class="review_item style_3">
                  <h3 class="review_title">Best Customer Support</h3>
                  <ul class="rating_star unordered_list">
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="fas fa-star"></i></li>
                  </ul>
                  <p class="review_content">
                    Customer feedback will help you understand exactly how your customers experience your service or product and fixing their concerns will lead to an improved client experience. Customer satisfaction leads to customer retention Excellent.
                  </p>
                  <span class="quote_icon">
                    <img src="/assets/images/icons/icon_quote_dark.svg" alt="Paradox Icon Quote">
                  </span>
                  <div class="admin_item">
                    <div class="admin_thumbnail">
                      <img src="/assets/images/meta/avatar_3.png" alt="Admin Avatar">
                    </div>
                    <div class="admin_info">
                      <h3 class="admin_name">Manuel K. Peoples</h3>
                      <span class="admin_designation">Director</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="testimonial_arrow">
              <ul class="carousel_arrow unordered_list_center pt-md-0">
                <li>
                  <button type="button" class="cc1c_left_arrow">
                    <i class="far fa-arrow-left"></i>
                  </button>
                </li>
                <li>
                  <button type="button" class="cc1c_right_arrow">
                    <i class="far fa-arrow-right"></i>
                  </button>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>