<section class="team_section section_space_lg bg_half_top_light">
  <div class="container">
    <div class="section_heading text-center">
      <h2 class="heading_subtitle text-uppercase">
        <span class="double_icon">
          <i class="fas fa-sharp fa-square-full"></i>
          <i class="fas fa-sharp fa-square-full"></i>
        </span>
        <span>Our Team</span>
      </h2>
      <h3 class="heading_title mb-0">Our Team Members</h3>
    </div>

    <div class="row justify-content-center">
      <div class="col col-xl-3 col-lg-6 col-md-6">
        <div class="team_item style_1 tilt">
          <div class="admin_thumbnail">
            <div class="thumbnail_wrap">
              <img
                src="assets/images/team/team_admin_image_1.png"
                alt="Paradox Team Admin Image"
              />
            </div>
          </div>
          <div class="admin_info_content">
            <h3 class="admin_name">Gary M. Martin</h3>
            <p class="admin_designation mb-0">Sr. Product Manager</p>
            <ul class="admin_social unordered_list">
              <li><a href="#!"><i class="fab fa-facebook-f"></i></a></li>
              <li><a href="#!"><i class="fab fa-twitter"></i></a></li>
              <li><a href="#!"><i class="fab fa-linkedin-in"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col col-xl-3 col-lg-6 col-md-6">
        <div class="team_item style_1 tilt">
          <div class="admin_thumbnail">
            <div class="thumbnail_wrap">
              <img
                src="assets/images/team/team_admin_image_2.png"
                alt="Paradox Team Admin Image"
              />
            </div>
          </div>
          <div class="admin_info_content">
            <h3 class="admin_name">Karen L. Head</h3>
            <p class="admin_designation mb-0">Sr. Digital Marketer</p>
            <ul class="admin_social unordered_list">
              <li><a href="#!"><i class="fab fa-facebook-f"></i></a></li>
              <li><a href="#!"><i class="fab fa-twitter"></i></a></li>
              <li><a href="#!"><i class="fab fa-linkedin-in"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col col-xl-3 col-lg-6 col-md-6">
        <div class="team_item style_1 tilt">
          <div class="admin_thumbnail">
            <div class="thumbnail_wrap">
              <img
                src="assets/images/team/team_admin_image_3.png"
                alt="Paradox Team Admin Image"
              />
            </div>
          </div>
          <div class="admin_info_content">
            <h3 class="admin_name">Daniel S. Anson</h3>
            <p class="admin_designation mb-0">Sr. UI/UX Designer</p>
            <ul class="admin_social unordered_list">
              <li><a href="#!"><i class="fab fa-facebook-f"></i></a></li>
              <li><a href="#!"><i class="fab fa-twitter"></i></a></li>
              <li><a href="#!"><i class="fab fa-linkedin-in"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col col-xl-3 col-lg-6 col-md-6">
        <div class="team_item style_1 tilt">
          <div class="admin_thumbnail">
            <div class="thumbnail_wrap">
              <img
                src="assets/images/team/team_admin_image_4.png"
                alt="Paradox Team Admin Image"
              />
            </div>
          </div>
          <div class="admin_info_content">
            <h3 class="admin_name">William P. Robinson</h3>
            <p class="admin_designation mb-0">Sr. Developer</p>
            <ul class="admin_social unordered_list">
              <li><a href="#!"><i class="fab fa-facebook-f"></i></a></li>
              <li><a href="#!"><i class="fab fa-twitter"></i></a></li>
              <li><a href="#!"><i class="fab fa-linkedin-in"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="btn_wrap pb-0 text-center">
      <a href="team.html" class="bd-btn-link btn_primary">
        <span class="bd-button-content-wrapper">
          <span class="bd-button-icon">
            <i class="fa-light fa-arrow-right-long"></i>
          </span>
          <span class="pd-animation-flip">
            <span class="bd-btn-anim-wrapp">
              <span class="bd-button-text">Join with Us</span>
              <span class="bd-button-text">Join with Us</span>
            </span>
          </span>
        </span>
      </a>
    </div>
  </div>
</section>
