---
import AboutUsSection from "../../components/about-us/AboutUsSection.astro";
import BannerSection from "../../components/environment/BannerSection.astro";
import Layout from "../../layouts/Layout.astro";
export const prerender = true;
export async function getStaticPaths() {
  return [
    { params: { lang: "es", about: "nosotros" } },
    { params: { lang: "en", about: "about-us" } },
  ];
}
const { lang, about } = Astro.params;
const aboutUpper = about.charAt(0).toLocaleUpperCase() + about.slice(1);
---

<Layout transition:persist title={about} menu="" lang={lang}>
  <section class="page_banner text-center">
    <BannerSection
      title={lang==="es" ? "Conocé a nuestro equipo" : "Meet our team"}
      aText={lang==="es" ? "Inicio" : "Home"}
      liText={aboutUpper}
    />
  </section>
  <section
    class="details_section service_details section_space_lg position-relative"
  >
    <AboutUsSection />
  </section>
</Layout>
