---
import BannerSection from '../../components/environment/BannerSection.astro';
import Layout from '../../layouts/Layout.astro';
import ServicesSection from '../../components/services/ServicesSection.astro';
export const prerender = true;
export async function getStaticPaths() {
    return [
        { params: { lang: 'es', service: 'servicios' } },
        { params: { lang: 'en', service: 'services' } }
    ];
}

const { lang, service } = Astro.params;
const upperService = service.charAt(0).toLocaleUpperCase() + service.slice(1);
---

<Layout title={service} menu='' lang={lang}>
    <section class='page_banner text-center'>
        <BannerSection
            title={upperService}
            aText={lang === 'en' ? 'Home' : 'Inicio'}
            liText={upperService}
        />
    </section>
    <section class='service_section section_space_lg'>
        <ServicesSection />
    </section>
</Layout>
