<div class="client_logo_section">
  <div class="container">
    <div class="client_logo_boxed bg_primary logo">
      <div class="client_logo_item">
        <img src="assets/images/clients/client_logo_6.png" />
      </div>
      <div class="client_logo_item">
        <img src="assets/images/clients/client_logo_7.png" />
      </div>
      <div class="client_logo_item">
        <img src="assets/images/clients/client_logo_8.png" />
      </div>
      <div class="client_logo_item">
        <img src="assets/images/clients/client_logo_9.png" />
      </div>
      <div class="client_logo_item">
        <img src="assets/images/clients/client_logo_10.png" />
      </div>
    </div>
  </div>
</div>
<style>
  .logo {
    background-image: url("assets/images/shapes/shape_text_our_client.svg");
  }
</style>
