---
import AboutUsBodyDown from "./AboutUsBodyDown.astro";
import AboutUsBodyUp from "./AboutUsBodyUp.astro";
import BoxElement from "./BoxElement.astro";
---

<div class="container">
  <div class="details_content_wrap">
    <AboutUsBodyUp
      bttnTxt="Obtenga este servicio ahora"
      headTitle="Desarrollo de sitios web que siempre se destacan y venden más."
      rigthTxt="El proceso de desarrollo de un sitio web es un conjunto documentado y predecible dePasos a seguir para completar con éxito un proyecto de desarrollo de sitio web.o aplicación web. Este proceso ayuda a alinear los recursos de desarrollo,partes interesadas y miembros del equipo para garantizar que todos los aspectos del proyectoson abordados y entregados a tiempo."
      item1Txt="El desarrollo web front-end es responsable de la apariencia."
      item2Txt="Desarrollo web back-end"
      item3Txt="Probar y depurar código requiere paciencia"
    />
    <div class="section_space_lg">
      <div class="video_widget">
        <img src="assets/images/team/1.png" alt="CerqueTech Solutions Photo" />
      </div>
    </div>
    <AboutUsBodyDown
      bttnTxt="Ver estudios de casos"
      headTxt="Nuestos servicios añaden los mejores valores"
    />
  </div>
</div>
