---
import BodyDown from './BodyDown.astro';
import BodyUp from './BodyUp.astro';
---

<div class="container">
  <div class="details_content_wrap">
    <BodyUp
      bttnTxt="Obtenga este servicio ahora"
      headTitle="Desarrollo de sitios web que siempre se destacan y venden más."
      rigthTxt="El proceso de desarrollo de un sitio web es un conjunto documentado y predecible dePasos a seguir para completar con éxito un proyecto de desarrollo de sitio web.o aplicación web. Este proceso ayuda a alinear los recursos de desarrollo,partes interesadas y miembros del equipo para garantizar que todos los aspectos del proyectoson abordados y entregados a tiempo."
      item1Txt="El desarrollo web front-end es responsable de la apariencia."
      item2Txt="Desarrollo web back-end"
      item3Txt="Probar y depurar código requiere paciencia"
    />
    <div class="section_space_lg">
      <div class="team">
        <img
          src="assets/images/team/team.png"
          alt="CerqueTech Solutions Photo"
        />
      </div>
    </div>
    <BodyDown
      bttnTxt="Ver estudios de casos"
      headTxt="Nuestos servicios añaden los mejores valores"
    />
  </div>
</div>
