---
import { Image } from 'astro:assets';
---

<div class='client_logo_section'>
    <div class='container'>
        <div class='client_logo_boxed bg_primary logo'>
            <div class='client_logo_item'>
                <Image
                    src='/assets/images/clients/client_logo_1.png'
                    alt={'Logo de Cliente'}
                    width={300}
                    height={100}
                />
            </div>
            <div class='client_logo_item'>
                <Image
                    src='/assets/images/clients/client_logo_2.png'
                    alt={'Logo de Cliente'}
                    width={300}
                    height={100}
                />
            </div>
            <div class='client_logo_item'>
                <Image
                    src='/assets/images/clients/client_logo_3.png'
                    alt={'Logo de Cliente'}
                    width={300}
                    height={100}
                />
            </div>
            <div class='client_logo_item'>
                <Image
                    src='/assets/images/clients/client_logo_4.png'
                    alt={'Logo de Cliente'}
                    width={300}
                    height={100}
                />
            </div>
            <div class='client_logo_item'>
                <Image
                    src='/assets/images/clients/client_logo_5.png'
                    alt={'Logo de Cliente'}
                    width={300}
                    height={100}
                />
            </div>
        </div>
    </div>
</div>

<style>
    .logo {
        background-image: url('/assets/images/shapes/shape_text_our_client.svg');
    }
</style>
