---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Cerquetech Solutions es una empresa líder en tecnología especializada en desarrollo web, soluciones de software y más."
    />
    <meta
      name="keywords"
      content="Cerquetech Solutions, Desarrollo Web, Soluciones de Software"
    />
    <meta name="author" content="Cerquetech Solutions" />
    <link rel="canonical" href="https://www.cerquetech.com" />
    <meta property="og:title" content="Cerquetech Solutions" />
    <meta
      property="og:description"
      content="Cerquetech Solutions es una empresa líder en tecnología especializada en desarrollo web, soluciones de software y más."
    />
    <meta property="og:image" content="https://www.cerquetech.com/logo.png" />
    <meta property="og:url" content="https://www.cerquetech.com" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  @font-face {
    font-family: Silkscreen, fallback-fonts, sans-serif;
    src:
      url('/fonts/Silkscreen-Regular.ttf') format('truetype'),
      url('/fonts/Silkscreen-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  html {
    font-family: Silkscreen, fallback-fonts, sans-serif;
    color: #fff;
    background: #000;
  }
</style>
